* [1. Importando librerias](#section1)
 * [1.1 valores nulos](#section11)
* [2. KNN con Sklearn](#section2)
* [3. Metricas del Modelo de Regresion Vecinos mas cercanos K-N](#section3)
 * [3.1 MSE](#section3)
   * [3.1.1 Calculado](#section311)
   * [3.1.2](#section312)
 * [3.2 RMSE](#section32)
   * [3.2.1 Calculado](#section321)
   * [3.2.2 Codigo](#section322)
 * [3.3 MAE](#section33)
   * [3.3.1 Calculo](#section331)
   * [3.3.2 Codigo](#section332)
 * [3.4 MAPE](#section34)
 * [3.5 R2 Score](#section35)
   * [3.5.1 Calculo](#section351)
   * [3.5.2 Codigo](#section352)

<a id="section1"></a>
## <font color="#004D7F">1. Importando librerias</font>

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

<a id="section11"></a>
## <font color="#004D7F">1.1 Visualizar maximo de filas y maximo d columnas</font>

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

<a id="section2"></a>
## <font color="#004D7F">2. KNN con Sklearn</font>

In [3]:
df=pd.read_csv('Datos/housing_data.txt',header=None,sep='\s+')

In [4]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [5]:
df.columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [6]:
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

#### Imprime 5 lineas

In [7]:
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [8]:
from sklearn.neighbors import KNeighborsRegressor

print(KNeighborsRegressor.__doc__)

Regression based on k-nearest neighbors.

    The target is predicted by local interpolation of the targets
    associated of the nearest neighbors in the training set.

    Read more in the :ref:`User Guide <regression>`.

    .. versionadded:: 0.9

    Parameters
    ----------
    n_neighbors : int, default=5
        Number of neighbors to use by default for :meth:`kneighbors` queries.

    weights : {'uniform', 'distance'} or callable, default='uniform'
        weight function used in prediction.  Possible values:

        - 'uniform' : uniform weights.  All points in each neighborhood
          are weighted equally.
        - 'distance' : weight points by the inverse of their distance.
          in this case, closer neighbors of a query point will have a
          greater influence than neighbors which are further away.
        - [callable] : a user-defined function which accepts an
          array of distances, and returns an array of the same shape
          containing the weights.

        Uniform weights are used by default.

    algorithm : {'auto', 'ball_tree', 'kd_tree', 'brute'}, default='auto'
        Algorithm used to compute the nearest neighbors:

        - 'ball_tree' will use :class:`BallTree`
        - 'kd_tree' will use :class:`KDTree`
        - 'brute' will use a brute-force search.
        - 'auto' will attempt to decide the most appropriate algorithm
          based on the values passed to :meth:`fit` method.

        Note: fitting on sparse input will override the setting of
        this parameter, using brute force.

    leaf_size : int, default=30
        Leaf size passed to BallTree or KDTree.  This can affect the
        speed of the construction and query, as well as the memory
        required to store the tree.  The optimal value depends on the
        nature of the problem.

    p : int, default=2
        Power parameter for the Minkowski metric. When p = 1, this is
        equivalent to using manhattan_distance (l1), and euclidean_distance
        (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used.

    metric : str or callable, default='minkowski'
        the distance metric to use for the tree.  The default metric is
        minkowski, and with p=2 is equivalent to the standard Euclidean
        metric. See the documentation of :class:`DistanceMetric` for a
        list of available metrics.
        If metric is "precomputed", X is assumed to be a distance matrix and
        must be square during fit. X may be a :term:`sparse graph`,
        in which case only "nonzero" elements may be considered neighbors.

    metric_params : dict, default=None
        Additional keyword arguments for the metric function.

    n_jobs : int, default=None
        The number of parallel jobs to run for neighbors search.
        ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
        ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
        for more details.
        Doesn't affect :meth:`fit` method.

    Attributes
    ----------
    effective_metric_ : str or callable
        The distance metric to use. It will be same as the `metric` parameter
        or a synonym of it, e.g. 'euclidean' if the `metric` parameter set to
        'minkowski' and `p` parameter set to 2.

    effective_metric_params_ : dict
        Additional keyword arguments for the metric function. For most metrics
        will be same with `metric_params` parameter, but may also contain the
        `p` parameter value if the `effective_metric_` attribute is set to
        'minkowski'.

    n_samples_fit_ : int
        Number of samples in the fitted data.

    Examples
    --------
    >>> X = [[0], [1], [2], [3]]
    >>> y = [0, 0, 1, 1]
    >>> from sklearn.neighbors import KNeighborsRegressor
    >>> neigh = KNeighborsRegressor(n_neighbors=2)
    >>> neigh.fit(X, y)
    KNeighborsRegressor(...)
    >>> print(neigh.predict([[1.5]]))
    [0.5]

    See Also
    --------
    NearestNeighbors
    RadiusNeighborsRegressor
    KNeighborsClassifier
    RadiusNeighborsClassifier

    Notes
    -----
    See :ref:`Nearest Neighbors <neighbors>` in the online documentation
    for a discussion of the choice of ``algorithm`` and ``leaf_size``.

    .. warning::

       Regarding the Nearest Neighbors algorithms, if it is found that two
       neighbors, neighbor `k+1` and `k`, have identical distances but
       different labels, the results will depend on the ordering of the
       training data.

    https://en.wikipedia.org/wiki/K-nearest_neighbor_algorithm

In [9]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [10]:
df.shape

(506, 14)

#### Variables utilizadas en el algoritmo

In [11]:
x=df.drop("MEDV",axis=1).values  ### numpy

In [12]:
x[1]# 13

array([2.7310e-02, 0.0000e+00, 7.0700e+00, 0.0000e+00, 4.6900e-01,
       6.4210e+00, 7.8900e+01, 4.9671e+00, 2.0000e+00, 2.4200e+02,
       1.7800e+01, 3.9690e+02, 9.1400e+00])

In [13]:
y=df['MEDV'].values             ### numpy

#### Aplicando el algoritmo - entrenando una regresion lineal (con una variable)

In [14]:
from sklearn.neighbors import KNeighborsRegressor

In [15]:
import sklearn
print(sklearn.__version__)

0.24.2

In [16]:
x=df.drop("MEDV",axis=1).values  ### numpy
y=df['MEDV'].values  
knn= KNeighborsRegressor()
knn.fit(x,y)

KNeighborsRegressor()

#### Prediccion

In [17]:
y_predicho_knn = knn.predict(x)
y_predicho_knn

array([21.78, 22.9 , 25.36, 26.06, 27.1 , 27.1 , 20.88, 19.1 , 18.4 ,
       19.48, 19.28, 22.  , 24.34, 20.52, 24.66, 21.3 , 30.48, 20.4 ,
       15.7 , 23.54, 16.82, 17.64, 18.3 , 17.08, 16.66, 15.1 , 16.78,
       14.94, 19.94, 18.34, 14.1 , 16.82, 15.12, 14.1 , 15.12, 26.92,
       22.14, 27.4 , 28.44, 31.88, 31.88, 25.36, 25.36, 24.22, 20.68,
       20.44, 20.44, 18.1 , 18.1 , 24.  , 21.54, 24.  , 27.16, 27.16,
       25.7 , 39.82, 27.08, 38.28, 24.8 , 25.64, 21.78, 33.6 , 21.78,
       24.06, 31.74, 25.3 , 26.98, 22.18, 20.42, 20.42, 27.76, 29.5 ,
       27.76, 27.76, 22.92, 21.64, 25.82, 21.64, 21.38, 22.02, 24.8 ,
       21.88, 25.22, 25.64, 25.98, 25.98, 23.28, 25.98, 24.02, 25.58,
       25.58, 25.06, 26.34, 26.04, 30.1 , 24.84, 23.62, 24.32, 28.52,
       24.96, 22.1 , 22.2 , 15.34, 19.74, 19.74, 19.66, 19.56, 21.34,
       19.66, 19.56, 22.08, 20.1 , 19.6 , 17.54, 20.1 , 17.7 , 20.2 ,
       20.1 , 20.66, 19.8 , 22.76, 20.6 , 19.66, 18.52, 19.66, 20.6 ,
       18.52, 16.62, 18.04, 16.88, 18.4 , 18.4 , 18.78, 18.56, 20.24,
       17.44, 17.8 , 18.4 , 15.88, 17.06, 15.24, 14.76, 15.62, 15.62,
       15.62, 18.26, 18.26, 15.62, 17.82, 17.44, 37.22, 20.66, 19.28,
       20.24, 20.24, 15.34, 15.34, 37.78, 25.52, 32.08, 20.66, 42.56,
       44.54, 44.54, 30.34, 20.24, 37.22, 19.52, 19.98, 20.24, 19.98,
       18.74, 21.9 , 24.4 , 23.74, 25.82, 22.34, 24.2 , 23.84, 38.56,
       33.24, 38.56, 33.24, 31.6 , 33.24, 38.56, 37.84, 32.72, 33.14,
       32.72, 33.14, 32.72, 33.72, 31.8 , 31.8 , 34.9 , 26.78, 25.24,
       26.78, 29.38, 29.5 , 25.2 , 25.3 , 41.28, 41.28, 23.76, 23.78,
       20.74, 22.9 , 21.1 , 21.1 , 21.1 , 23.9 , 28.84, 22.6 , 27.28,
       22.96, 21.9 , 21.1 , 23.38, 25.42, 17.32, 31.8 , 24.46, 37.82,
       36.46, 36.14, 35.96, 29.5 , 29.44, 34.  , 41.28, 38.28, 38.16,
       28.12, 29.3 , 34.12, 34.12, 21.44, 21.92, 21.44, 21.4 , 22.1 ,
       21.74, 20.  , 19.68, 22.16, 20.  , 21.38, 31.22, 31.22, 26.28,
       29.56, 31.22, 27.08, 24.86, 38.28, 42.44, 38.9 , 36.48, 38.82,
       41.88, 41.88, 37.9 , 41.88, 34.6 , 38.82, 36.16, 32.42, 31.74,
       32.58, 28.82, 31.74, 26.88, 31.96, 31.96, 31.96, 31.96, 31.96,
       30.58, 31.74, 32.58, 36.62, 42.8 , 24.84, 21.88, 38.64, 21.88,
       24.44, 22.62, 34.9 , 34.9 , 31.88, 24.54, 23.28, 24.44, 23.22,
       22.94, 25.28, 29.12, 25.42, 25.78, 28.02, 30.58, 31.22, 27.02,
       31.96, 27.02, 23.72, 21.6 , 29.  , 21.32, 21.02, 20.94, 21.44,
       21.6 , 18.54, 19.52, 20.5 , 21.3 , 23.32, 23.76, 23.32, 22.9 ,
       22.06, 23.76, 26.14, 22.06, 19.7 , 21.22, 19.92, 21.86, 22.98,
       23.6 , 21.16, 20.78, 25.74, 24.3 , 20.72, 22.64, 24.32, 24.44,
       19.8 , 29.36, 26.58, 19.  , 18.84, 26.48, 33.32, 25.78, 25.78,
       28.  , 30.46, 42.8 , 20.96, 24.8 , 15.88, 19.06, 20.94, 21.42,
       33.8 , 25.6 , 30.94, 25.6 , 27.22, 27.22, 16.98, 14.58, 39.16,
       39.16, 26.46, 36.6 , 27.22, 11.36, 10.54, 10.82, 12.36, 12.5 ,
        9.6 , 10.22,  6.86, 10.26, 11.62, 11.62, 14.16, 11.  ,  8.94,
        9.74, 13.18, 12.5 , 13.52, 21.66, 11.88, 15.58, 11.74, 13.54,
       13.98, 12.46,  8.5 , 14.82,  9.54, 11.14, 15.88, 10.5 , 14.28,
        6.86, 13.18, 18.56, 14.52, 17.62, 10.34, 12.74, 11.88, 17.18,
       10.92, 11.88, 11.2 , 14.58, 11.96, 10.44, 16.98, 16.98, 14.16,
       13.58, 12.94, 11.74, 12.56, 10.26, 13.52, 11.58, 14.  , 12.6 ,
       13.52, 13.3 , 12.9 , 12.16, 12.1 , 10.56, 12.12, 11.96, 10.6 ,
       14.56, 13.84, 13.34, 13.44, 12.44, 16.98, 13.34, 14.48, 16.06,
       13.58, 15.54, 17.04, 16.62, 12.54, 12.2 , 13.58, 12.94, 14.84,
       20.24, 14.34, 19.82, 20.24, 20.38, 22.28, 17.56, 12.74, 18.56,
       23.7 , 21.26, 20.24, 18.6 , 22.72, 23.28, 15.54, 16.06, 14.18,
       14.96, 15.88, 16.36, 22.28, 22.72, 23.44, 20.86, 22.8 , 21.34,
       21.42, 21.34, 17.04, 11.54, 12.28, 14.86, 18.3 , 22.08, 21.82,
       22.02, 18.7 , 18.7 , 20.64, 18.7 , 19.96, 21.18, 23.12, 20.88,
       21.9 , 21.42])

In [18]:
y_predicho_knn=pd.DataFrame(y_predicho_knn)

In [19]:
y_predicho_knn.head(2)

       0
0  21.78
1  22.90

In [20]:
df.MEDV

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
5      28.7
6      22.9
7      27.1
8      16.5
9      18.9
10     15.0
11     18.9
12     21.7
13     20.4
14     18.2
15     19.9
16     23.1
17     17.5
18     20.2
19     18.2
20     13.6
21     19.6
22     15.2
23     14.5
24     15.6
25     13.9
26     16.6
27     14.8
28     18.4
29     21.0
30     12.7
31     14.5
32     13.2
33     13.1
34     13.5
35     18.9
36     20.0
37     21.0
38     24.7
39     30.8
40     34.9
41     26.6
42     25.3
43     24.7
44     21.2
45     19.3
46     20.0
47     16.6
48     14.4
49     19.4
50     19.7
51     20.5
52     25.0
53     23.4
54     18.9
55     35.4
56     24.7
57     31.6
58     23.3
59     19.6
60     18.7
61     16.0
62     22.2
63     25.0
64     33.0
65     23.5
66     19.4
67     22.0
68     17.4
69     20.9
70     24.2
71     21.7
72     22.8
73     23.4
74     24.1
75     21.4
76     20.0
77     20.8
78     21.2
79     20.3
80     28.0
81     23.9
82     24.8
83     22.9
84     23.9
85     26.6
86     22.5
87     22.2
88     23.6
89     28.7
90     22.6
91     22.0
92     22.9
93     25.0
94     20.6
95     28.4
96     21.4
97     38.7
98     43.8
99     33.2
100    27.5
101    26.5
102    18.6
103    19.3
104    20.1
105    19.5
106    19.5
107    20.4
108    19.8
109    19.4
110    21.7
111    22.8
112    18.8
113    18.7
114    18.5
115    18.3
116    21.2
117    19.2
118    20.4
119    19.3
120    22.0
121    20.3
122    20.5
123    17.3
124    18.8
125    21.4
126    15.7
127    16.2
128    18.0
129    14.3
130    19.2
131    19.6
132    23.0
133    18.4
134    15.6
135    18.1
136    17.4
137    17.1
138    13.3
139    17.8
140    14.0
141    14.4
142    13.4
143    15.6
144    11.8
145    13.8
146    15.6
147    14.6
148    17.8
149    15.4
150    21.5
151    19.6
152    15.3
153    19.4
154    17.0
155    15.6
156    13.1
157    41.3
158    24.3
159    23.3
160    27.0
161    50.0
162    50.0
163    50.0
164    22.7
165    25.0
166    50.0
167    23.8
168    23.8
169    22.3
170    17.4
171    19.1
172    23.1
173    23.6
174    22.6
175    29.4
176    23.2
177    24.6
178    29.9
179    37.2
180    39.8
181    36.2
182    37.9
183    32.5
184    26.4
185    29.6
186    50.0
187    32.0
188    29.8
189    34.9
190    37.0
191    30.5
192    36.4
193    31.1
194    29.1
195    50.0
196    33.3
197    30.3
198    34.6
199    34.9
200    32.9
201    24.1
202    42.3
203    48.5
204    50.0
205    22.6
206    24.4
207    22.5
208    24.4
209    20.0
210    21.7
211    19.3
212    22.4
213    28.1
214    23.7
215    25.0
216    23.3
217    28.7
218    21.5
219    23.0
220    26.7
221    21.7
222    27.5
223    30.1
224    44.8
225    50.0
226    37.6
227    31.6
228    46.7
229    31.5
230    24.3
231    31.7
232    41.7
233    48.3
234    29.0
235    24.0
236    25.1
237    31.5
238    23.7
239    23.3
240    22.0
241    20.1
242    22.2
243    23.7
244    17.6
245    18.5
246    24.3
247    20.5
248    24.5
249    26.2
250    24.4
251    24.8
252    29.6
253    42.8
254    21.9
255    20.9
256    44.0
257    50.0
258    36.0
259    30.1
260    33.8
261    43.1
262    48.8
263    31.0
264    36.5
265    22.8
266    30.7
267    50.0
268    43.5
269    20.7
270    21.1
271    25.2
272    24.4
273    35.2
274    32.4
275    32.0
276    33.2
277    33.1
278    29.1
279    35.1
280    45.4
281    35.4
282    46.0
283    50.0
284    32.2
285    22.0
286    20.1
287    23.2
288    22.3
289    24.8
290    28.5
291    37.3
292    27.9
293    23.9
294    21.7
295    28.6
296    27.1
297    20.3
298    22.5
299    29.0
300    24.8
301    22.0
302    26.4
303    33.1
304    36.1
305    28.4
306    33.4
307    28.2
308    22.8
309    20.3
310    16.1
311    22.1
312    19.4
313    21.6
314    23.8
315    16.2
316    17.8
317    19.8
318    23.1
319    21.0
320    23.8
321    23.1
322    20.4
323    18.5
324    25.0
325    24.6
326    23.0
327    22.2
328    19.3
329    22.6
330    19.8
331    17.1
332    19.4
333    22.2
334    20.7
335    21.1
336    19.5
337    18.5
338    20.6
339    19.0
340    18.7
341    32.7
342    16.5
343    23.9
344    31.2
345    17.5
346    17.2
347    23.1
348    24.5
349    26.6
350    22.9
351    24.1
352    18.6
353    30.1
354    18.2
355    20.6
356    17.8
357    21.7
358    22.7
359    22.6
360    25.0
361    19.9
362    20.8
363    16.8
364    21.9
365    27.5
366    21.9
367    23.1
368    50.0
369    50.0
370    50.0
371    50.0
372    50.0
373    13.8
374    13.8
375    15.0
376    13.9
377    13.3
378    13.1
379    10.2
380    10.4
381    10.9
382    11.3
383    12.3
384     8.8
385     7.2
386    10.5
387     7.4
388    10.2
389    11.5
390    15.1
391    23.2
392     9.7
393    13.8
394    12.7
395    13.1
396    12.5
397     8.5
398     5.0
399     6.3
400     5.6
401     7.2
402    12.1
403     8.3
404     8.5
405     5.0
406    11.9
407    27.9
408    17.2
409    27.5
410    15.0
411    17.2
412    17.9
413    16.3
414     7.0
415     7.2
416     7.5
417    10.4
418     8.8
419     8.4
420    16.7
421    14.2
422    20.8
423    13.4
424    11.7
425     8.3
426    10.2
427    10.9
428    11.0
429     9.5
430    14.5
431    14.1
432    16.1
433    14.3
434    11.7
435    13.4
436     9.6
437     8.7
438     8.4
439    12.8
440    10.5
441    17.1
442    18.4
443    15.4
444    10.8
445    11.8
446    14.9
447    12.6
448    14.1
449    13.0
450    13.4
451    15.2
452    16.1
453    17.8
454    14.9
455    14.1
456    12.7
457    13.5
458    14.9
459    20.0
460    16.4
461    17.7
462    19.5
463    20.2
464    21.4
465    19.9
466    19.0
467    19.1
468    19.1
469    20.1
470    19.9
471    19.6
472    23.2
473    29.8
474    13.8
475    13.3
476    16.7
477    12.0
478    14.6
479    21.4
480    23.0
481    23.7
482    25.0
483    21.8
484    20.6
485    21.2
486    19.1
487    20.6
488    15.2
489     7.0
490     8.1
491    13.6
492    20.1
493    21.8
494    24.5
495    23.1
496    19.7
497    18.3
498    21.2
499    17.5
500    16.8
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, dtype: float64

In [21]:
df['y_predicho_knn']=y_predicho_knn

In [22]:
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,y_predicho_knn
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0,21.78
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6,22.90

<a id="section3"></a>
## <font color="#004D7F">3. Metricas del Modelo de Regresion Vecinos mas cercanos K-N</font>

<a id="section31"></a>
## <font color="#004D7F">3.1 MSE</font>

- **No es robuso para valores ATIPICOS**

## Métricas Regression Model

La mayoría de los principiantes y profesionales no se preocupan por el rendimiento del modelo. Se habla de construir un modelo bien generalizado pero el modelo de aprendizaje automático no puede tener una eficiencia del 100% sino mas bien el modelo tiene un nivel de error que además incluye el concepto de sobreajuste y subajuste.

Es necesario obtener la precisión en los datos train, pero también es importante obtener un resultado genuino y aproximado en los datos test, de lo contrario el modelo no sirve de nada.

Por lo tanto, para construir e implementar un modelo generalizado necesitamos evaluar el modelo en diferentes métricas que nos ayuden a optimizar mejor el rendimiento, afinarlo y obtener un mejor resultado. Por lo tanto aqui vamos a entender de que trata cada métrica que vamos a mostrar para entender los beneficios y las desventajas de evaluación.

### MSE (Mean Squared Error)



El MSE es una métrica muy utilizada y muy simple este indica que la diferencia cuadrática entre el valor real y el valor estimado.

¿Qué representa realmente el MSE? Representa la distancia al cuadrado entre los valores reales y los valores estimados, realizamos el cuadrado para evitar la cancelación de los términos negativos.

$$MSE= \frac{1}{n} \sum_{i=1}^n (y^{(i)} - \hat{y}^{(i)})^2$$

**Ventajas del MSE**

- La gráfica del MSE es diferenciable, por lo que se puede utilizar fácilmente como función de pérdida.

**Desventajas del MSE**

- El valor que se obtiene después de calcular el MSE es una unidad de salida al cuadrado. Por ejemplo, la variable de salida está en metros (m), entonces después de calcular el MSE la salida que obtenemos está en metros al cuadrado.
- Si hay valores atípicos en el conjunto de datos, se penalizan más los valores atípicos y el MSE calculado es mayor. Así que, en resumen, no es robusto a los valores atípicos.

In [23]:
y_predicho_knn.head(5)

       0
0  21.78
1  22.90
2  25.36
3  26.06
4  27.10

In [24]:
y=pd.DataFrame(y)

In [25]:
y.head(5)

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

- Si la variable de ENTRADA es "metros"
- Si la variable de SALIDA sera "metros*metros = m^2"

#### En este caso la variable de entrada "y"(soles) la variable de salida sera "y"(soles*soles)

<a id="section311"></a>
## <font color="#004D7F">3.1.1 Calculado</font>

In [26]:
((y-y_predicho_knn)**2).sum()/df.shape[0]

0    23.966862
dtype: float64

<a id="section312"></a>
## <font color="#004D7F">3.1.2 Codigo</font>

In [27]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y,y_predicho_knn)

23.966862450592888

<a id="section32"></a>
## <font color="#004D7F">3.2 RMSE</font>

- **No es robuso para valores ATIPICOS**

### RMSE (Root Mean Squared Error)

La raiz del error cuadrático medio (RMSE) es la raíz cuadrada de MSE. Se usa más comúnmente que MSE porque, en primer lugar, a veces el valor de MSE puede ser demasiado grande para compararlo fácilmente.

$$MSE= \sqrt(\frac{1}{n} \sum_{i=1}^n (y^{(i)} - \hat{y}^{(i)})^2)$$

**Ventajas del RMSE**
- El valor de salida que se obtiene está en la misma unidad que la variable de salida requerida, lo que facilita la interpretación de la pérdida.

**Desventajas del RMSE**
- No es tan robusto a los valores atípicos.

<a id="section321"></a>
## <font color="#004D7F">3.2.1 Calculado</font>

In [28]:
(   (((y-y_predicho_knn)**2).sum())/df.shape[0]  )**0.5

0    4.895596
dtype: float64

<a id="section322"></a>
## <font color="#004D7F">3.2.2 Codigo</font>

In [29]:
from sklearn.metrics import mean_squared_error
(mean_squared_error(y,y_predicho_knn))**.5

4.8955962303475244

<a id="section33"></a>
## <font color="#004D7F">3.3 MAE</font>

- **Es más robusto a los valores atípicos QUE RMSE ,MSE**

### MAE (Mean Absolute Error)

El error absoluto medio (MAE) es similar al error cuadrático medio (MSE). Sin embargo, en lugar de la suma del cuadrado del error en MSE, MAE está tomando la suma del valor absoluto del valor real vs el valor estimado.

$$MAE= \frac{1}{n} \sum_{i=1}^n \vert{y^{(i)} - \hat{y}^{(i)}}\vert$$

**Ventajas del MAE**

- El MAE que se obtiene está en la misma unidad que la variable de salida.
- Es más robusto a los valores atípicos.

**Desventajas de MAE**

- La gráfica del MAE no es diferenciable por lo que tenemos que aplicar varios optimizadores como el Descenso Gradiente que sí puede ser diferenciable

<a id="section331"></a>
## <font color="#004D7F">3.3.1 Calculo</font>

In [30]:
(abs(y-y_predicho_knn)).sum()/df.shape[0]

0    3.375217
dtype: float64

<a id="section332"></a>
## <font color="#004D7F">3.3.2 Codigo</font>

In [31]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y,y_predicho_knn)

3.3752173913043477

<a id="section34"></a>
## <font color="#004D7F">3.4 MAPE</font>

### MAPE (Mean Absolute Percentage Error)

MAPE da el error en términos de porcentaje es decir que porcentaje del valor real esta sesgado el valor estimado.

Mientras que el MAE te da un valor que puedes discutir si es aceptable o no la métrica nunca te da una pista de cuánto "error" es aceptable.
Por ejemplo, si tiene un error absoluto medio de 10 dólares, ¿es demasiado? ¿O es aceptable? esto depende de la escala de su valor real. Por ejemplo si tenemos un valor predicho de 100 y el valor real es de 150, el error porcentual absoluto es (150 - 100) / 150 que da 33%.

$$MAPE= \frac{1}{n} \sum_{i=1}^n \frac{{y^{(i)} - \hat{y}^{(i)}}}{y^{(i)}}$$

**Algunas características**

- Puede tener algunos problemas para tratar los errores cuando el valor real es 0. Cuando hay algunos ejemplos como éste en su muestra, se recomiendan otras métricas.
- El MAPE tiene algunos problemas con los valores cercanos a cero. Si se esperan estos valores en su objetivo, debería elegir otra métrica.

In [32]:
((abs(y-y_predicho_knn)/y)).sum()/df.shape[0]

0    0.157121
dtype: float64

<a id="section35"></a>
## <font color="#004D7F">3.5 R2 Score</font>

### R2 score

R2 score es una métrica que indica el rendimiento de su modelo, no el sesgo que tienen las predicciones. Así, con la ayuda de R2 score tenemos un modelo de referencia para comparar vs un modelo minimo cosa que ninguna de las otras métricas proporciona. Entonces, básicamente, R2 score calcula en qué medida la línea de regresión es mejor que una línea media.

R2 score también se conoce como Coeficiente de Determinación o a veces también se conoce como Bondad de ajuste.
$$R^2= 1 - \frac{SSE}{SST}$$
Donde: 

**SSE** error de la suma cuadrada de la línea de regresión.

**SST** error de la suma cuadrada de la línea media.

<a id="section351"></a>
## <font color="#004D7F">3.5.1 Calculo</font>

In [33]:
sse=((y-y_predicho_knn)**2).sum()

In [34]:
sst=((y-y_predicho_knn.mean())**2).sum()

In [35]:
r2=1-sse/sst;r2

0    0.716193
dtype: float64

<a id="section352"></a>
## <font color="#004D7F">3.5.2 Codigo</font>

In [36]:
from sklearn.metrics import r2_score

In [37]:
r2_score(y,y_predicho_knn)

0.716098217736928